.section-msj-partida-h1 {
  font-size: 1.15rem;
  text-align: center;
  line-height: 2.5;
  padding: 0 8px;
}

.partida {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-msj-partida-h2 {
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  line-height: 2;
}
