.figcaption {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  min-height: 80px;
}

.roca {
  border: var(--border-box) var(--border-box-roca-color);
  border-radius: var(--border-radius-hand);
  background-color: var(--background-box-color-roca);
}

.lagarto {
  border: var(--border-box) var(--boder-box-lagarto-color);
  border-radius: var(--border-radius-hand);
  background-color: var(--background-box-color-lagarto);
}

.papel {
  border: var(--border-box) var(--boder-box-papel-color);
  border-radius: var(--border-radius-hand);
  background-color: var(--background-box-color-papel);
}

.spock {
  border: var(--border-box) var(--boder-box-spock-color);
  border-radius: var(--border-radius-hand);
  background-color: var(--background-box-color-spock);
}

.tijera {
  border: var(--border-box) var(--boder-box-tijera-color);
  border-radius: var(--border-radius-hand);
  background-color: var(--background-box-color-tijera);
}

.svgHand {
  width: var(--hand-size);
  height: var(--hand-size);
  padding: 8px;
  object-fit: contain;
}

.selectedImageCompu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-height: 80px;
}

@media (min-width: 481px) {
  .figcaption,
  .selectedImageCompu {
    padding: 14px 0;
    min-height: 106px;
  }
}

@media (min-width: 1024px) {
  .figcaption,
  .selectedImageCompu {
    padding: 18px 0;
    min-height: 126px;
  }
}
