.imput {
  width: 100%;
  max-width: var(--game-max-width);
  font-size: 0.75rem;
}

@media (min-width: 481px) {
  .imput {
    font-size: 0.85rem;
  }
}

@media (min-width: 1024px) {
  .imput {
    font-size: 1rem;
  }
}
